*{
margin: 0px;
padding: 0px;
}

body {
	background-color: ;
}

header {
	background-color: #204146;
	color: white;
	text-align: center;
	padding: 15px;
	border-radius: 0 0 15px 15px;
	margin-bottom: 10px;
}

h1 {
font-size: 25px;
text-decoration: underline;
text-transform: uppercase;
}

.sec1 {
	text-align: center;
	border: ;
	padding: 30px;
}

img {
	border: 3px double red;
	margin-bottom: 20px;
}
img {
	
}

.sec2 {
text-align: center;
}

h2 {
margin:10px 0;
border: 2px solid blue;
color: white; 
width: fit-content; 
margin: 10px auto; 
padding: 10px; 
background: yellow; 
border-radius: 10px;
}

#art1,#art2,#art3,#art4{
border: 5px solid black;
width:fit-content;
margin: auto;
padding: 0px;
height: 160px;
margin-bottom: 15px;
}

#p1,#p2,#p3,#p4{
padding: 20px;
font-size:20px;
font-weight: 900px;
}

#a1,#a2,#a3,#a4{
border: 1px solid red;
padding: 10px;
background:red; 
border-radius: 5px;
}

h3{
border: 3px solid black;
border-radius: 0 0 5px 5px;
padding: 15px;
background: grey;
}

#d1{
	display:flex;
	justify-content:center;
	align-items:center;
	flex-wrap: wrap;
}